@media all and (max-width: 1214px) {
  .module-2 .container-cards {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .module-2 .container-cards .card:last-child {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  header nav {
    display: none;
  }
}
@media all and (max-width: 995px) {
  footer {
    padding: 30px 31px;
  }
  .module-6 .container-cards {
    flex-direction: column;
  }
  .module-5 .container-cards {
    flex-direction: column;
    row-gap: 20px;
  }
  .module-5 .container-cards .card:last-child {
    display: none;
  }
  .module-4 div {
    flex-direction: column;
    row-gap: 50px;
  }
  .module-3 {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .module-3 .container-image {
    width: 100%;
    height: 200px;
  }
  .module-3 .container-image img {
    width: 100%;
    height: 100%;
  }
  .module-3 .info {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }
  .module-3 .info h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .module-3 .info h2,
.module-3 .info h3,
.module-3 .info p {
    text-align: center;
  }
}
@media all and (max-width: 995px) {
  header span {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .module-2 h2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .module-4 h2 {
    text-align: center;
  }
  .module-5 h2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .module-6 h2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media all and (max-width: 670px) {
  footer .container-card .card {
    flex-direction: column;
  }
  footer .container-card .card .image {
    width: 100%;
    height: 50%;
  }
  footer .container-card .card .info {
    width: 100%;
    height: 50%;
  }
  footer .container-card .card .info h2 {
    width: 100%;
  }
  footer .details .info {
    margin-right: 5rem;
  }
  footer .midias {
    flex-direction: column;
  }
  footer .midias span {
    margin-bottom: 7px;
  }
  footer .author {
    flex-direction: column;
  }
  footer .author .info .age {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 556px) {
  .module-2 .container-cards {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
@media all and (max-width: 480px) {
  .module-5 .container-cards .card {
    width: 318px;
  }
  footer .details .info {
    margin-right: 2rem;
  }
}
@media all and (max-width: 479px) {
  footer .container-card .card .info h2 {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  footer .container-card .card .info p {
    margin-bottom: 8px;
  }
}
@media all and (max-width: 352px) {
  footer .details .info {
    margin-right: 1rem;
  }
  .module-4 div {
    row-gap: 0px;
  }
  .module-4 div img {
    width: 281px;
  }
  .author .info .develop {
    font-size: 1rem;
    white-space: nowrap;
  }
  footer .details .info {
    margin-right: 10px;
  }
  .module-6 .container-cards .card img {
    width: 286px;
  }
  .module-5 .container-cards .card {
    width: 240px;
    height: 270px;
  }
  .module-2 .container-cards {
    display: flex !important;
    flex-direction: column;
  }
}/*# sourceMappingURL=responsividade.css.map */